<template name="room">

    <div class="container">
        <div class="row">
            <div class="jumbotron">
                <h1>Game Room</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                TODO options for user enter
            </div>

            <div class="col-sm-6">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Current Settings</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <td>Title</td>
                        <td>yolo</td>
                    </tr>

                    <tr>
                        <td>Protected By Password</td>
                        <td>yolo</td>
                    </tr>

                    <tr>
                        <td>Game Length</td>
                        <td>yolo</td>
                    </tr>

                    <tr>
                        <td>Stock</td>
                        <td>yolo</td>
                    </tr>

                    <tr>
                        <td>Incoming Delivery</td>
                        <td>yolo</td>
                    </tr>

                    <tr>
                        <td>Incoming Order</td>
                        <td>yolo</td>
                    </tr>

                    <tr>
                        <td>Backorder</td>
                        <td>yolo</td>
                    </tr>

                    <tr>
                        <td>Shipping Delay Rounds</td>
                        <td>yolo</td>
                    </tr>

                    <tr>
                        <td>Shipping Delay Amount</td>
                        <td>yolo</td>
                    </tr>

                    <tr>
                        <td>Stock Unit Cost</td>
                        <td>yolo</td>
                    </tr>

                    <tr>
                        <td>Backorder Unit Cost</td>
                        <td>yolo</td>
                    </tr>

                    <tr>
                        <td>Visible Shippings</td>
                        <td>yolo</td>
                    </tr>

                    <tr>
                        <td>Visible Demands</td>
                        <td>yolo</td>
                    </tr>

                    <tr>
                        <td>Allow Messaging</td>
                        <td>yolo</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</template>