<template name="roomListSettings">
    <table class="table">
        <thead>
        <tr>
            <th colspan="2"><h3 class="text-center">Game Settings</h3></th>
        </tr>
        </thead>

        <tbody>

        <tr>
            <td>Game administrator</td>
            <td>{{ adminUsername }}</td>
        </tr>

        <tr class="warning">
            <td>Game Length</td>
            <td>{{ numRounds }}</td>
        </tr>

        <tr>
            <td>Initial Stock</td>
            <td>{{ gameSetup.initStock }}</td>
        </tr>

        <tr>
            <td>Initial Incoming Delivery</td>
            <td>{{ gameSetup.initIncomingDelivery }}</td>
        </tr>

        <tr>
            <td>Initial Incoming Order</td>
            <td>{{ gameSetup.initIncomingOrder }}</td>
        </tr>

        <tr>
            <td>Initial Backorder</td>
            <td>{{ gameSetup.initBackorder }}</td>
        </tr>

        <tr class="warning">
            <td>Inventory cost of beer/round</td>
            <td>{{ gameSetup.initInventoryCost }}</td>
        </tr>

        <tr class="warning">
            <td>Backorder cost of order/round</td>
            <td>{{ gameSetup.initBackorderCost }}</td>
        </tr>

        <tr>
            <td>Visible Shippings</td>
            <td>{{ shippings }}</td>
        </tr>

        <tr>
            <td>Visible Demands</td>
            <td>{{ demands }}</td>
        </tr>

        <tr>
            <td>Allow Messaging</td>
            <td>{{ messaging }}</td>
        </tr>
        </tbody>
    </table>
</template>