<template name="room">

    {{summon}}

    <div class="container">
        <div class="row">
            <div class="jumbotron">
                <h1>Game Room</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                {{#if admin}}
                    <div class="row">
                        <div class="col-xs-12">
                            <h3>Observers</h3>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-6">
                            <table class="table">
                            <tbody>
                            {{#each listObservers}}
                                <tr>
                                    {{> roomObservers}}
                                </tr>
                            {{/each}}
                            </tbody>
                            </table>
                        </div>
                    </div>
                {{/if}}

                <div class="clearfix"></div>

                {{#if added}}
                    {{#if ready}}
                        <button value="notReady" id="ready" class="btn btn-danger btn-block">Click For Not Ready</button>
                    {{else}}
                        <button value="ready" id="ready" class="btn btn-primary btn-block">Click For Ready</button>
                    {{/if}}
                {{/if}}

                {{#if admin}}
                    <div class="row">
                        <div class="col-xs-12">
                            <h3>Players</h3>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-6">
                            <table class="table">
                            <tbody>
                            {{#each positions}}
                                <tr>
                                    <td>{{position}}</td>
                                </tr>
                            {{/each}}
                            </tbody>
                            </table>
                        </div>

                        <div class="col-xs-6">
                            <table class="table">
                            <tbody>
                            {{#each listPlayers}}
                            <tr>
                                {{> roomPlayers}}
                            </tr>
                            {{/each}}
                            </tbody>
                            </table>
                        </div>
                    </div>
                {{/if}}

                {{#if admin}}
                    {{#if allPlayersReady}}
                        <button id="startGame" class="btn btn-primary btn-block btn-lg">START Game</button>
                    {{else}}
                        <button class="btn btn-default btn-block btn-lg">START Game</button>
                    {{/if}}

                    <button id="cancelGame" class="btn btn-warning btn-block">Cancel Game</button>
                {{/if}}

                {{#if inRoom}}
                    <button id="exitRoom" class="btn btn-warning btn-block">Exit Room</button>
                {{/if}}
            </div>

            <div class="col-sm-6">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Current Settings</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <td>Title</td>
                        <td>{{ getGameSettings.[0] }}</td>
                    </tr>

                    <tr>
                        <td>Admin</td>
                        <td>{{ getGameSettings.[1] }}</td>
                    </tr>

                    <tr>
                        <td>Game Length</td>
                        <td>{{ getGameSettings.[2] }}</td>
                    </tr>

                    <tr>
                        <td>Stock</td>
                        <td>{{ getGameSettings.[3] }}</td>
                    </tr>

                    <tr>
                        <td>Incoming Delivery</td>
                        <td>{{ getGameSettings.[4] }}</td>
                    </tr>

                    <tr>
                        <td>Incoming Order</td>
                        <td>{{ getGameSettings.[5] }}</td>
                    </tr>

                    <tr>
                        <td>Backorder</td>
                        <td>{{ getGameSettings.[6] }}</td>
                    </tr>

                    <tr>
                        <td>Stock Unit Cost</td>
                        <td>{{ getGameSettings.[7] }}</td>
                    </tr>

                    <tr>
                        <td>Backorder Unit Cost</td>
                        <td>{{ getGameSettings.[8] }}</td>
                    </tr>

                    <tr>
                        <td>Visible Shippings</td>
                        <td>{{ getGameSettings.[9] }}</td>
                    </tr>

                    <tr>
                        <td>Visible Demands</td>
                        <td>{{ getGameSettings.[10] }}</td>
                    </tr>

                    <tr>
                        <td>Allow Messaging</td>
                        <td>{{ getGameSettings.[11] }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</template>