<template name="room">

    {{summon}}

    <div class="container">
        <div class="row">
            <div class="jumbotron">
                <h1>Game Room</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                {{#if admin}}
                    <div class="row">
                        <h3>Observers</h3>
                    </div>

                    <div class="row">
                        <div class="col-xs-6">
                            <table class="table">
                            <tbody>{{#each listObservers}}
                                <tr>
                                    {{> roomObservers}}
                                </tr>
                            {{/each}}</tbody>
                            </table>
                        </div>
                    </div>

                    <div class="clearfix"></div>
                {{/if}}

                {{#if added}}
                    {{#if isReady}}
                        <button value="notReady" id="ready" class="btn btn-danger btn-block">Click For Not Ready</button>
                    {{else}}
                        <button value="ready" id="ready" class="btn btn-primary btn-block">Click For Ready</button>
                    {{/if}}
                {{/if}}

                {{#if admin}}
                    <div class="row">
                        <h3>Players</h3>
                    </div>

                    <div class="row">
                        <div class="col-xs-6">
                            <table class="table">
                            <tbody>{{#each positions}}
                                <tr>
                                    <td>{{position}}</td>
                                </tr>
                            {{/each}}</tbody>
                            </table>
                        </div>

                        <div class="col-xs-6">
                            <table class="table">
                            <tbody>{{#each listPlayers}}
                            <tr>
                                {{> roomPlayers}}
                            </tr>
                            {{/each}}</tbody>
                            </table>
                        </div>
                    </div>
                {{/if}}

                {{#if gameReady}}
                    <button id="startGame" class="btn btn-primary btn-block btn-lg">START Game</button>
                {{/if}}

                {{#if createdGame}}
                    <button id="cancelGame" class="btn btn-warning btn-block">Cancel Game</button>
                {{/if}}
                {{#if joined}}
                    <button id="exitRoom" class="btn btn-warning btn-block">Exit Room</button>
                {{/if}}
                {{#if added}}
                    <button id="exitRoom" class="btn btn-warning btn-block">Exit Room</button>
                {{/if}}
            </div>

            <div class="col-sm-6">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Current Settings</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <td>Title</td>
                        <td>{{getUserSettings.[0]}}</td>
                    </tr>

                    <tr>
                        <td>Protected By Password</td>
                        <td>{{getUserSettings.[1]}}</td>
                    </tr>

                    <tr>
                        <td>Game Length</td>
                        <td>{{getUserSettings.[2]}}</td>
                    </tr>

                    <tr>
                        <td>Stock</td>
                        <td>{{getUserSettings.[3]}}</td>
                    </tr>

                    <tr>
                        <td>Incoming Delivery</td>
                        <td>{{getUserSettings.[4]}}</td>
                    </tr>

                    <tr>
                        <td>Incoming Order</td>
                        <td>{{getUserSettings.[5]}}</td>
                    </tr>

                    <tr>
                        <td>Backorder</td>
                        <td>{{getUserSettings.[6]}}</td>
                    </tr>

                    <tr>
                        <td>Shipping Delay Rounds</td>
                        <td>{{getUserSettings.[7]}}</td>
                    </tr>

                    <tr>
                        <td>Shipping Delay Amount</td>
                        <td>{{getUserSettings.[8]}}</td>
                    </tr>

                    <tr>
                        <td>Stock Unit Cost</td>
                        <td>{{getUserSettings.[9]}}</td>
                    </tr>

                    <tr>
                        <td>Backorder Unit Cost</td>
                        <td>{{getUserSettings.[10]}}</td>
                    </tr>

                    <tr>
                        <td>Visible Shippings</td>
                        <td>{{getUserSettings.[11]}}</td>
                    </tr>

                    <tr>
                        <td>Visible Demands</td>
                        <td>{{getUserSettings.[12]}}</td>
                    </tr>

                    <tr>
                        <td>Allow Messaging</td>
                        <td>{{getUserSettings.[13]}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</template>