bodyC = #ffffff
wrapperC = #ffffff
headerWrapperC = #031E36
footerWrapperC = #000000
indexSectionC = #49A1EF
footerUlC = #ffffff
headingStyleC = #020043
headingStyleC2 = #ffffff
gameSettingsFieldC = lightblue