.tableHeader
  background-color #fa902b
  color #fff

.winner
  background-color #ffff00
  td
    padding 30px 10px !important
  img
    width 60px
    height auto

.table-borderless
  td
    border 0 !important
    vertical-align middle !important
  th
    border 0 !important

.gravatarScore
  display block
  margin 0 auto
  width 40px
  height auto