.tableHeader
  background-color #fa902b
  color #fff

.winner
  background-color #ffff00
  td
    padding 30px 10px !important

.table-borderless
  td
    border 0 !important
  th
    border 0 !important