body
  font-family 'Open Sans', sans-serif

/* Span for standing out logged user */
.me
  color #337ab7
  font-weight bold

/* Info for empty lobby - no created games */
.lobby-empty-jumbotron
  margin 0 auto
  max-width 500px

/* Table with buttons in room and lobby */
.table-with-buttons td
  vertical-align middle !important

/* Making buttons wide but not full block width */
.room-buttons
  margin 0 auto
  max-width 400px

/* Cost field in game */
.game-data-cost
  background-color #ff6188
  color #fff

/* For mobile screens */
@media screen and (max-width: 767px)
  /* Main table for game */
  .gameTable
    margin-bottom 30px