@import "_colors.styl"

body
  font-family 'Open Sans', sans-serif

.me
  color #337ab7
  font-weight bold

.lobby-empty-jumbotron
  margin 0 auto
  max-width 500px

.table-with-buttons td
  vertical-align middle !important

.room-buttons
  margin 0 auto
  max-width 400px

.game-data-cost
  background-color #ff6188
  color #fff

.game-data-warning
  background-color #f89406
  color #fff

@media screen and (max-width: 767px)
  .gameTable
    margin-bottom 30px