@import "_colors.styl"

/*
body
  background-color bodyC
  font-family 'Open Sans', sans-serif

h4
  margin 15px 20px
  line-height 25px

.headerWrapper
  background-color headerWrapperC

  .header
    .mainNavigation
      margin-top 20px

.footerWrapper
  background-color footerWrapperC

  .footer
    padding 50px 0px
    color footerUlC
    text-align center

.game-settings-pair
  padding 5px

.game-settings-field
  border 1px solid gameSettingsFieldC

.indexSection
  width 100%
  background-color indexSectionC
  margin-bottom 50px

.indexSection2
  width 100%
  height 500px
  background url('/images/beer.jpg') no-repeat center center
  background-size cover
  padding 25px 0px

.headingStyle
  background-color headingStyleC
  text-align center
  padding 8px 0px
  color headingStyleC2
  font-weight bold
  border-radius 30px
  margin-bottom 20px

.spaceBottomM
  margin-bottom 40px

.spaceTopP
  padding-top 40px
.spaceBottomP
  padding-bottom 40px

.casper
  opacity 0.85

@media (max-width: 767px)
  .game-settings-field
    width 100%
  .game-settings-button
    width 100%

@media (min-width: 768px)
  .game-settings-field
    width 55px
    */