<template name="afTemplate">

    <div>
        <h3>Game Title</h3>
    </div>

    <div class="clearfix"></div>

    <div class="row">
        <div class="col-xs-12">{{> afQuickField name="title" type="text" placeholder="Pls Enter Game Title..." }}</div>
    </div>

    <div>
        <h3>Initial Values</h3>
    </div>

    <div class="clearfix"></div>

    <div class="row">
        <div class="col-sm-3">{{> afQuickField name="setup.initStock" type="number" }}</div>

        <div class="col-sm-3">{{> afQuickField name="setup.initIncomingDelivery" type="number" }}</div>

        <div class="col-sm-3">{{> afQuickField name="setup.initIncomingOrder" type="number" }}</div>

        <div class="col-sm-3">{{> afQuickField name="setup.initBackorder" type="number" }}</div>
    </div>

    <div>
        <h3>Costs</h3>
    </div>

    <div class="clearfix"></div>

    <div class="row">
        <div class="col-sm-3">{{> afQuickField name="setup.initInventoryCost" type="number" }}</div>

        <div class="col-sm-3">{{> afQuickField name="setup.initBackorderCost" type="number" }}</div>
    </div>

    <div>
        <h3>Tracking</h3>
    </div>

    <div class="clearfix"></div>

    <div class="row">
        <div class="col-sm-4">{{> afQuickField name="setup.visibleShippings" type="boolean-checkbox" }}</div>

        <div class="col-sm-4">{{> afQuickField name="setup.visibleDemands" type="boolean-checkbox" }}</div>

        <div class="col-sm-4">{{> afQuickField name="setup.allowMessaging" type="boolean-checkbox" }}</div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-3">
            {{> afArrayField  name="setup.initDemand" }}
        </div>
    </div>

</template>