<template name="userChat">

    {{#if equals userClass 'userLogged'}}
        <div class="userBox chatUser col-xs-12">
            <div class="authorUsername col-xs-12">
                <h5>{{ authorUsername }}</h5>
            </div>

            <div class="col-xs-12">
                <div class="col-xs-10 col-sm-11">
                    <div class="content">
                        {{ content }}
                    </div>
                </div>

                <div class="col-xs-2 col-sm-1">
                    <img class="gravatar" src="https://www.gravatar.com/avatar/{{emailHash}}">
                </div>
            </div>

            <div class="timestamp col-xs-12">
                {{ timestamp }}
            </div>
        </div>
    {{else}}
        <div class="userBox user col-xs-12">
            <div class="authorUsername col-xs-12">
                <h5>{{ authorUsername }}</h5>
            </div>

            <div class="col-xs-12">
                <div class="col-xs-2 col-sm-1">
                    <img class="gravatar" src="https://www.gravatar.com/avatar/{{emailHash}}">
                </div>

                <div class="col-xs-10 col-sm-11">
                    <div class="content">
                        {{ content }}
                    </div>
                </div>
            </div>

            <div class="timestamp col-xs-12">
                {{ timestamp }}
            </div>
        </div>
    {{/if}}

</template>