<template name="gameSettingsNewGame">

    <div class="row">
        <div class="modal fade" id="newGameModal">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">New Game</h4>
                    </div>

                    <div class="modal-body">
                        <button id="newTemplateBtn" type="button" class="btn btn-success btn-block">New Settings</button>
                        <button value="pls" id="defaultTemplateBtn" type="button" class="btn btn-primary btn-block">Default Settings</button>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-warning" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>