<template name="gameSettings">

    <div class="container">
        {{#autoForm collection="GameSetup" id="insertGameSettingsForm" type="insert" }}

            {{> afQuickField name="setupOwner" type="hidden" }}

        <div class="row">
            <div class="jumbotron">
                <h1>Game Settings</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12"><button type="button" class="btn btn-default game-settings-button">Load settings</button></div>
        </div>

        <div><h3>Game Title</h3></div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-xs-12">{{> afQuickField name="title" type="text" placeholder="Pls Enter Game Title..." }}</div>
        </div>

        <div><h3>Initial Values</h3></div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-sm-3">{{> afQuickField name="setup.initStock" type="number" value="5" min="0" }}</div>
            <div class="col-sm-3">{{> afQuickField name="setup.initIncomingDelivery" type="number" value="5" min="0" }}</div>
            <div class="col-sm-3">{{> afQuickField name="setup.initIncomingOrder" type="number" value="5" min="0" }}</div>
            <div class="col-sm-3">{{> afQuickField name="setup.initBackorder" type="number" value="5" min="0" }}</div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div><h3>Shipping Delay <input type="checkbox" unchecked></h3></div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-sm-6">{{> afQuickField name="setup.initRoundLengthShippingDelay" type="number" value="0" min="0" }}</div>
                    <div class="col-sm-6">{{> afQuickField name="setup.initAmountShippingDelay" type="number" value="0" min="0" }}</div>
                </div>
            </div>

            <div class="col-sm-6">
                <div><h3>Costs</h3></div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-sm-6">{{> afQuickField name="setup.initInventoryCost" type="number" value="0" min="0" }}</div>
                    <div class="col-sm-6">{{> afQuickField name="setup.initBackorderCost" type="number" value="0" min="0" }}</div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3">
                <div><h3>Game Length</h3></div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-xs-12">{{> afQuickField name="setup.initMaxRounds" type="number" value="0" min="0" }}</div>
                </div>
            </div>

            <div class="col-sm-9">
                <div><h3>Tracking</h3></div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-sm-3">{{> afQuickField name="setup.visibleShippings" type="boolean-checkbox"}}</div>
                    <div class="col-sm-3">{{> afQuickField name="setup.visibleDemands" type="boolean-checkbox"}}</div>
                    <div class="col-sm-3">{{> afQuickField name="setup.allowMessaging" type="boolean-checkbox"}}</div>
                </div>
            </div>
        </div>

<!--        <div class="row">
            TODO DEMAND, razmisliti o tome kako će na mobitelima izgledati graf i kako će se moći njime koristiti (lagano ili teško)
        </div>-->
        {{> afQuickField name="setup.initDemand" value="[ { roundNumber: 1, demand:4 }, { roundNumber: 2, demand:4 }, { roundNumber: 3, demand:4 }, { roundNumber: 4, demand:8 }, { roundNumber: 5, demand:8 }, { roundNumber: 6, demand:8 }, { roundNumber: 7, demand:8 }, { roundNumber: 8, demand:8 }, { roundNumber: 9, demand:8 }, { roundNumber: 10, demand:8 } ]"}}

        <div class="row">
            <div class="col-xs-6"><button type="submit" class="btn btn-primary game-settings-button">Save settings</button></div>
            <div class="col-xs-6"><button type="button" class="btn btn-success game-settings-button">Create Event</button></div>
        </div>

        {{/autoForm}}
    </div>

</template>





