<template name="gameSettings">

    <div class="container">
        {{#autoForm collection="GameSetup" id="insertGameSettingsForm" type="insert"}}

        {{> afQuickField name="setupOwner" type="hidden" }}
        {{> afQuickField name="isGlobal" type="hidden" }}

        <div class="row">
            <div class="jumbotron">
                <h1>Game Settings</h1>
            </div>
        </div>

        <div><h3>Game Title</h3></div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-xs-12">{{> afQuickField name="title" type="text" placeholder="Pls Enter Game Title..." }}</div>
        </div>

        <div><h3>Game Password</h3></div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-xs-12">{{> afQuickField name="gamePassword" type="password" placeholder="Optional..." }}</div>
        </div>

        <div><h3>Initial Values</h3></div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-sm-3">{{> afQuickField name="setup.initStock" type="number" min="0" }}</div>
            <div class="col-sm-3">{{> afQuickField name="setup.initIncomingDelivery" type="number" min="0" }}</div>
            <div class="col-sm-3">{{> afQuickField name="setup.initIncomingOrder" type="number" min="0" }}</div>
            <div class="col-sm-3">{{> afQuickField name="setup.initBackorder" type="number" min="0" }}</div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div><h3>Shipping Delay <input id="shippingDelayBtn" type="checkbox" unchecked></h3></div>
                <div class="clearfix"></div>
                <div class="row">
                    {{#if isDisabled}}
                        <div class="col-sm-6">{{> afQuickField name="setup.initRoundLengthShippingDelay" type="number" min="0" disabled=true}}</div>
                        <div class="col-sm-6">{{> afQuickField name="setup.initAmountShippingDelay" type="number" min="0" disabled=true}}</div>
                    {{else}}
                        <div class="col-sm-6">{{> afQuickField name="setup.initRoundLengthShippingDelay" type="number" min="0"}}</div>
                        <div class="col-sm-6">{{> afQuickField name="setup.initAmountShippingDelay" type="number" min="0"}}</div>
                    {{/if}}
                </div>
            </div>

            <div class="col-sm-6">
                <div><h3>Costs</h3></div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-sm-6">{{> afQuickField name="setup.initInventoryCost" type="number" min="0" }}</div>
                    <div class="col-sm-6">{{> afQuickField name="setup.initBackorderCost" type="number" min="0" }}</div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3">
                <div><h3>Game Length</h3></div>
                <div class="clearfix"></div>
                <div class="row">
<!--
                    <div class="col-xs-12">{{> afQuickField name="setup.initMaxRounds" type="number" min="2" id="maxRoundsValidation"}}</div>
-->
                </div>
            </div>

            <div class="col-sm-9">
                <div><h3>Tracking</h3></div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-sm-3">{{> afQuickField name="setup.visibleShippings" type="boolean-checkbox"}}</div>
                    <div class="col-sm-3">{{> afQuickField name="setup.visibleDemands" type="boolean-checkbox"}}</div>
                    <div class="col-sm-3">{{> afQuickField name="setup.allowMessaging" type="boolean-checkbox"}}</div>
                </div>
            </div>
        </div>

       {{> afQuickField  name="setup.initDemand" minCount=getMaxRounds maxCount=getMaxRounds}}

<!--
        <canvas id="demandChart"></canvas>&ndash;&gt;
-->

        <div class="row">
            <div class="col-xs-12"><button type="submit" class="btn btn-success center-block">Play Game!</button></div>
        </div>

        {{/autoForm}}
    </div>

</template>