<template name="lobby">

    <div class="container">
        <div class="row">
            <div class="jumbotron">
                <h1>Lobby</h1>
            </div>
        </div>

        {{> gameSettingsNewGame}}

        <div class="row">
            <div class="col-sm-9">
                <div class="row">
                    <div class="col-xs-4">Title</div>
                </div>

                {{#each lobbyGames}}
                    <div class="row">
                        {{> lobbyObservers}}
                    </div>
                {{/each}}
            </div>

            <div class="col-sm-3">
                {{#if forbidCreate}}
                <button id="newGameBtn" type="button" class="btn btn-success">Create New Game</button>
                {{else}}
                <button id="newGameBtn" type="button" class="btn btn-success" disabled="disabled">Create New Game</button>
                {{/if}}
            </div>
        </div>
    </div>

</template>