<template name="lobby">

    <div class="container">
        <div class="row">
            <div class="jumbotron">
                <h1>Lobby</h1>
            </div>
        </div>

        {{> gameSettingsNewGame}}

        <div class="row">
            <div class="col-sm-9">
                aaa
            </div>

            <div class="col-sm-3">
                <button id="newGameBtn" type="button" class="btn btn-success">Create New Game</button>
            </div>
        </div>
    </div>

</template>