<template name="lobbyGame">

    <td>
        {{  title }}
    </td>

    <td class="text-center">
        {{ gameAdmin }}
    </td>

    <td class="text-center">
        {{ numRounds }}
    </td>

    <td class="hidden-xs text-center">
        {{ numPlayers }}
    </td>

    <td class="hidden-xs text-center">
        {{ numObservers }}
    </td>

    <td>
        <button type="button" class="btn btn-primary btn-sm joinRoom"><i class="glyphicon glyphicon-log-in" aria-hidden="true"></i> Join</button>
    </td>

</template>