<template name="score">

    <div class="container">
        <div class="row">
            <div class="jumbotron">
                <h1>Score</h1>
            </div>
        </div>

        <div class="col-xs-12 table-responsive">
            <table class="table table-borderless">
                <thead>
                <tr class="tableHeader">
                    <th class="text-center">Rank</th>
                    <th class="text-center"></th>
                    <th class="text-center">Player</th>
                    <th class="text-center">Position</th>
                    <th class="text-center">Score (less is better)</th>
                </tr>
                </thead>

                <tbody>
                <tr class="winner">
                    <td class="text-center"><h4><span class="fa fa-beer"></span> 1.</h4></td>
                    <td><img class="gravatarScore" src="https://www.gravatar.com/avatar/{{ listScores.[0].avatar }}"></td>
                    <td class="text-center"><h4>{{ listScores.[0].username }}</h4></td>
                    <td class="text-center"><h4>{{ listScores.[0].position }}</h4></td>
                    <td class="text-center"><h4>{{ listScores.[0].totalCost }}</h4></td>
                </tr>

                <tr>
                    <td class="text-center">2.</td>
                    <td><img class="gravatarScore" src="https://www.gravatar.com/avatar/{{ listScores.[1].avatar }}"></td>
                    <td class="text-center">{{ listScores.[1].username }}</td>
                    <td class="text-center">{{ listScores.[1].position }}</td>
                    <td class="text-center">{{ listScores.[1].totalCost }}</td>
                </tr>

                <tr>
                    <td class="text-center">3.</td>
                    <td><img class="gravatarScore" src="https://www.gravatar.com/avatar/{{ listScores.[2].avatar }}"></td>
                    <td class="text-center">{{ listScores.[2].username }}</td>
                    <td class="text-center">{{ listScores.[2].position }}</td>
                    <td class="text-center">{{ listScores.[2].totalCost }}</td>
                </tr>

                <tr>
                    <td class="text-center">4.</td>
                    <td><img class="gravatarScore" src="https://www.gravatar.com/avatar/{{ listScores.[3].avatar }}"></td>
                    <td class="text-center">{{ listScores.[3].username }}</td>
                    <td class="text-center">{{ listScores.[3].position }}</td>
                    <td class="text-center">{{ listScores.[3].totalCost }}</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="col-xs-12 col-sm-6">
            <canvas id="demandChart"></canvas>

            <br>
        </div>

        <div class="col-xs-12 col-sm-6">
            <canvas id="totalCostChart"></canvas>

            <br>
        </div>

        <div class="col-xs-12 col-sm-12">
            <canvas id="costPerRoundsChart"></canvas>
        </div>

        <div class="col-xs-12">
            <br><br><br>

            <p class="text-center">
                <button type="button" class="lobbyReturn btn btn-lg btn-block btn-primary room-buttons">
                    <i class="fa fa-chevron-left" aria-hidden="true"></i> Return to Lobby
                </button>
            </p>
        </div>
    </div>

</template>