<template name="index">

    <div class="indexSection2">
        <div class="container">
            <div class="row">
                <div class="jumbotron casper">
                    <h1>Beergame</h1>
                    <p>Authors - Kristijan Lenković & Mislav Miočević</p>
                </div>
            </div>
        </div>
    </div>

    <div class="indexSection spaceTopP spaceBottomP">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sm-12 col-xs-12 embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/qxpgM8paegQ"></iframe>
                </div>

                <div class="col-md-5 col-sm-12 col-xs-12">
                    <h2 class="headingStyle">Fun game for everyone!</h2>

                    <h4> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer hendrerit felis orci, ac pulvinar felis tincidunt id. Maecenas eleifend mauris est, ac bibendum lacus placerat id. Vestibulum condimentum sed felis at venenatis. Integer laoreet massa ut purus semper mattis. Curabitur lobortis odio elit, ac luctus enim lobortis in. Aliquam pulvinar venenatis elementum. Nam risus lectus, consectetur in accumsan sit amet, pharetra quis augue. Aliquam at lobortis leo, eget elementum nibh. Maecenas ac diam sagittis, viverra turpis ut, auctor ligula. </h4>

                    <h4> Aliquam a orci venenatis, scelerisque nulla id, scelerisque mauris. Pellentesque sit amet sapien sit amet dui pharetra finibus. Vestibulum feugiat nisi orci, a faucibus neque posuere gravida. Sed porttitor sagittis tellus, sit amet ullamcorper nulla maximus a. </h4>
                </div>
            </div>
        </div>
    </div>

    <div class="container spaceBottomM">
        <div class="col-sm-6 col-xs-12">
            <h4> Aliquam a orci venenatis, scelerisque nulla id, scelerisque mauris. Pellentesque sit amet sapien sit amet dui pharetra finibus. Vestibulum feugiat nisi orci, a faucibus neque posuere gravida. Sed porttitor sagittis tellus, sit amet ullamcorper nulla maximus a. </h4>
        </div>
        <div class="col-sm-6 col-xs-12">
            <h4> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer hendrerit felis orci, ac pulvinar felis tincidunt id. Maecenas eleifend mauris est, ac bibendum lacus placerat id. Vestibulum condimentum sed felis at venenatis. Integer laoreet massa ut purus semper mattis. Curabitur lobortis odio elit, ac luctus enim lobortis in. Aliquam pulvinar venenatis elementum. Nam risus lectus, consectetur in accumsan sit amet, pharetra quis augue. Aliquam at lobortis leo, eget elementum nibh. Maecenas ac diam sagittis, viverra turpis ut, auctor ligula. </h4>
        </div>
    </div>

</template>