<template name="mainLayout">
    <div class="container">
        <header>

            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/">Beergame</a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="/">Home</a></li>
                            <li><a href="/test">test</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            {{> loginButtons}}
                        </ul>
                    </div><!--/.nav-collapse -->
                </div><!--/.container-fluid -->
            </nav>

            <div class="jumbotron">
                <h1>Beergame</h1>
                <p>Autori: Kristijan Lenković i Mislav Miočević</p>
            </div>
        </header>

        <main>
            {{> Template.dynamic template=main}}
        </main>
    </div>
</template>