/* Whole chat box without clock */
#chatbox
  height 300px
  overflow-y scroll
  background #f5f5f5
  border-radius 25px
  margin-bottom 20px

/* All users */
.userBox
  margin-bottom 5px
  padding 5px
  word-wrap break-word
  color #222
  .content
    display inline-block
    max-width 100%
    text-align left
  .timestamp
    text-align center
    color #777
  .gravatar
    width 40px
    height auto
    border-radius 50%

/* Creator of message */
.chatUser
  .content
    background #c5e6f5
    border-radius 20px 0 20px 20px
    padding 10px 10px
    float right
  .authorUsername
    text-align right
  .gravatar
    position absolute
    right 0px

/* All users that are not creators of messages */
.user
  .authorUsername
    text-align left
  .gravatar
    position absolute
    left 0px